/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


/* .Splash-splash h2 {
    font-size: 40px;
    position: relative;
    opacity: 0;
    animation: anim 1s;
    animation-fill-mode: forwards;
    animation-delay: 1.5s;
}

@keyframes anim {
    0% {
        top: -80px;
        opacity: 0;
    }
    100% {
        top: 0px;
        opacity: 10;
    }
}

.Splash-splash {
    position: fixed;
    max-width: ''100%'';
    top: ''0'';
    left: ''0'';
    height: ''100vh'';
    width: ''100vw'';
    background: ''black'';
    color: ''white'';
    text-align: ''center'';
    line-height: ''90vh'';
}

.image {
    margin-right: ''10px'';
    border-top-left-radius: ''50%'';
} */